*.suo
*.ilk
*.chw
*.ffs_db
*.dsp


/SetFsArxSdkEnvPath/obj/Release
/SetFsArxSdkEnvPath/obj/Debug
BCGCBPro28.0/Bin64/bcgpaddressbook.mdb
BCGCBPro28.0/Bin64/BCGPDBGridDemoD.exe
BCGCBPro28.0/Bin64/BCGPDBGridDemoD.pdb
BCGCBPro28.0/Bin64/bcgpedit-chat.xml
BCGCBPro28.0/Bin64/bcgpedit-cpp.xml
BCGCBPro28.0/Bin64/BCGPGridExampleD.exe
BCGCBPro28.0/Bin64/BCGPGridExampleD.pdb
BCGCBPro28.0/Bin64/diagram.xml
BCGCBPro28.0/Bin64/organizer_tasks.mdb
BCGCBPro28.0/Bin64/RibbonIcons.png
BCGCBPro28.0/Bin64/UserImages.bmp
/BCGCBPro28.0/inc/objL
/BCGCBPro28.0/inc/objS
/FsCore/inc/rxdebug.h
/FsKernal/inc/rxdebug.h
/FsLoader/inc/Helper/AppDirUtil.h
/FsLoader/inc/Helper/CfgInf.h
/FsLoader/inc/Helper/ConvertUTF.h
/FsLoader/inc/Helper/FileManip.h
/FsLoader/inc/Helper/SimpleIni.h
/FsLoader/inc/Helper/Util.h
/FsLoader/inc/Helper/string-utils.h
/FsLoader/inc
/SetFsArxSdkEnvPath/.vs/SetFsArxSdkEnvPath/FileContentIndex
/SetEnvPath/.vs/SetFsArxSdkEnvPath/FileContentIndex/3bf4715f-b994-4d21-9e47-1108daa1143c.vsidx
/SetEnvPath/.vs/SetFsArxSdkEnvPath/FileContentIndex/read.lock
/SetEnvPath/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/SetEnvPath/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SetEnvPath/obj/Debug/SetFsArxSdkEnvPath.csproj.AssemblyReference.cache
/SetEnvPath/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/SetEnvPath/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/SetEnvPath/obj/Release/SetEnvPath.csproj.AssemblyReference.cache
/SetEnvPath/obj/Release/SetFsArxSdkEnvPath.csproj.AssemblyReference.cache
/SetEnvPath/obj/Release/SetFsArxSdkEnvPath.csproj.CoreCompileInputs.cache
/SetEnvPath/obj/Release/SetFsArxSdkEnvPath.csproj.FileListAbsolute.txt
/SetEnvPath/obj/Release/SetFsArxSdkEnvPath.csproj.SuggestedBindingRedirects.cache
/SetEnvPath/obj/Release/SetFsArxSdkEnvPath.exe
/SetEnvPath/.vs/SetEnvPath/FileContentIndex
/SetEnvPath/obj
/SetEnvPath/Debug
/SetEnvPathSrc/obj
/SetEnvPathSrc/Debug
/ObjectARX 2019/samples/entity/polysamp
/.vs
